.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    color: white;
}

.delay {
    color: pink;
}

html, body {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: black;
}